body{
    color: #999;
    background-image: url(../images/a.jpg);
    
    font-family: 'Roboto',sans-serif;
    background-size: cover;
}

.form-control
{
    margin-top: 5px;
    width: 100%;
    min-height: 35px;
    box-shadow: none;
    border-color: #e1e1e1;
}

.form-control:focus{
    border-color: #00cb82;
}

.form-control,.btn-btn-primary
{
    border-radius: 3px;
}

.header
{
    margin: -30px -30px 20px;
    padding: 30px 30px 10px;
    text-align: center;
    background: #00cb82;
    border-bottom: 1px solid #eee;
    color: #fff;
}

.header h2
{
    font-size: 34px;
    font-weight: bold;
    margin: 0 0 10px;
    font-family: 'Pacifico'sans-serif;
}

.header p
{
    margin: 20px 0 15px;
    font-size: 17px;
    line-height: normal;
    font-family: 'Courgette',sans-serif;
}

.signup-inform
{
    width: 390px;
    margin: 0 auto;
    padding: 30px 0;
}

.signup-inform form{
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f0f0f0;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
    padding: 30px;
}
.signup-inform .form-group
{
    margin-bottom: 20px;
}

.signup-inform label{
    font-weight: normal;
    font-size: 15px;
    
}

.signup-inform input[type="Checkbox"]
{
    margin-top: 2px;
}
.signup-inform .btn-btn-primary{
    font-size: 16px;
    font-weight: bold;
    border:none;
    min-width:100%;
    min-height: 30px;
    align-content: center;
    background: #00cb82;
}

.signup-inform .btn-btn-primary :hover, .sign-inform .btn-btn-primary :focus
{
    background: #00b073 !important;
    outline: none;
}

.signup-inform a{
    color: #00cb82;
}

.signup-inform a:hover
{
    text-decoration: underline
}